<app-header></app-header>

<br />
<br />
<br />
<br />

<p-toolbar>
  <div class="flex-wrap gap-2 p-toolbar-group-left">
    <button
      pButton
      routerLinkActive="active"
      routerLink="character"
      (click)="characterRoute()"
      [class]="character ? 'p-button-primary' : 'p-button-outlined'"
      label="Personaje aleatorio"
      icon="pi pi-user"
    ></button>
    <button
      pButton
      routerLinkActive="active"
      routerLink="characters"
      (click)="charactersRoute()"
      [class]="characters ? 'p-button-primary' : 'p-button-outlined'"
      label="Personajes"
      icon="pi pi-users"
    ></button>
  </div>

</p-toolbar>

<br />

<router-outlet></router-outlet>
