main {
  z-index: 0;
}

section {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 1rem;
}

#name {
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

@media screen and (min-width: 320px) {
  .img {
    width: 100px;
  }
}

@media screen and (min-width: 768px) {
  .img {
    width: 350px;
  }
}
