<div *ngIf="loading" class="flex align-content-center align-items-center">
  <app-loading></app-loading>
</div>
<main *ngIf="!loading" class="grid">
  <p-image
    class="sm:col-12 lg:col-fixed mb-4"
    style="width: 400px"
    [src]="character.image"
    alt="Image"
    width="350"
    [preview]="true"
  ></p-image>

  <section class="sm:col-12 lg:col-8">
    <header class="pl-2 pr-2 pt-3">
      <strong id="name">{{ character.name }}</strong>
      <pre>CHARACTER ID: {{ character.id }}</pre>
    </header>

    <hr>

    <article class="p-3">

      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Status:</strong> </span>{{ character.status }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Species:</strong> </span>{{ character.species }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Type:</strong> </span>{{ character.type }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Gender:</strong> </span>{{ character.gender }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Origin:</strong> </span>{{ character.origin.name }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Location:</strong> </span>{{ character.location.name }}
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Created at:</strong></span>{{ character.created }}
      </div>
      <hr>
      <div class="flex justify-content-center">
        <app-generate-button (onClick)="generateCharacter()"></app-generate-button>
      </div>
    </article>
  </section>
</main>
