<main class="grid">
  <p-image
    class="image-container md:col-12 lg:col-4"
    src="https://rickandmortyapi.com/api/character/avatar/459.jpeg"
    alt="Image"
    width="400"
    [preview]="true"
  ></p-image>

  <section class="md:col-12 lg:col-6 p-0">
    <header class="pl-2 pr-2 pt-2">
      <strong>Butthole Ice Cream Guy</strong>
      <pre>CHARACTER ID: 459</pre>
    </header>

    <hr>

    <div class="p-3">

      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Status:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Species:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Type:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Gender:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Origin:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Location:</strong> </span>Alive
      </div>
      <hr>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Created at:</strong></span>Alive
      </div>
      <hr>
      <div class="flex justify-content-center">
        <app-generate-button (onClick)="generateCharacter()"></app-generate-button>
      </div>
    </div>
  </section>
</main>
