<main *ngIf="notCharacter" class="grid p-3">
  <div
    class="flex justify-content-center align-items-center flex-column col-12"
  >
    <span id="span">No se ha cargado ningún personaje</span>
    <br />
    <br />
    <app-generate-button (isClick)="getCharacter()"></app-generate-button>
  </div>
</main>

<span class="flex justify-content-center" *ngIf="loading && !notCharacter">
  <app-loading></app-loading>
</span>

<main *ngIf="!notCharacter" class="flex flex-wrap justify-content-center gap-3">
  <div class="col-12">
    <button
      class="flex mr-auto p-button-warning"
      *ngIf="!loading"
      type="button"
      pButton
      icon="pi pi-history"
      label="Historial"
      (click)="visibleSidebar = true"
    ></button>
    <p-sidebar [(visible)]="visibleSidebar" [baseZIndex]="10000">
      <h3>Historial de personajes</h3>
      <p-chip
        *ngFor="let characterHistory of charactersHistory"
        id="chip"
        [label]="characterHistory.name"
        [image]="characterHistory.image"
        (click)="search(characterHistory)"
        styleClass="mr-2"
      ></p-chip>
    </p-sidebar>
  </div>

  <p-image
    *ngIf="!loading"
    class="flex justify-content-center"
    [style]="{'width': '350px', 'height': '350px'}"
    [src]="character.image"
    alt="Image"
    width="350"
    [preview]="true"
  ></p-image>

  <section *ngIf="!loading">
    <header class="pl-2 pr-2 pt-3">
      <strong id="name">{{ character.name }}</strong>
      <pre>CHARACTER ID: {{ character.id }}</pre>
    </header>

    <hr />

    <article>
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Status:</strong> </span
        >{{ character.status }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Species:</strong> </span
        >{{ character.species }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Type:</strong> </span>{{ character.type }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Gender:</strong> </span
        >{{ character.gender }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Origin:</strong> </span
        >{{ character.origin.name }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Location:</strong> </span
        >{{ character.location.name }}
      </div>
      <hr />
      <div class="flex pl-2 pr-2">
        <span class="mr-auto"><strong>Created at:</strong></span
        >{{ character.created | date }}
      </div>
      <hr />
      <div class="flex justify-content-center mt-4 mb-3">
        <app-generate-button
          (isClick)="getCharacter()"
        ></app-generate-button>
      </div>
    </article>
  </section>
</main>
<br>
<br>
