<header>
  <div class="start">
    <img width="50px" src="/assets/icons/icons8-morty-smith-400.png" alt="">
    <span>{{ 'Rick & Morty' | titlecase }}</span>
  </div>
  <div class="end">
    <a href="https://github.com/Devipt-leiner/Rick-And-Morty-App" target="_blank">
      <i class="pi pi-github" style="font-size: 2rem"></i>
    </a>
    <a href="https://www.linkedin.com/in/leinerbarrios/" target="_blank">
      <i class="pi pi-linkedin" style="font-size: 2rem"></i>
    </a>
  </div>
</header>
